h3{
    color: blue;
}


#encabezadoCinco{
    color:aqua;
}

.encabezadoSeis{
    color: blueviolet;
}

img{
    height: 100px;
    width: 100px;
}


.contenedor{
    height: 500px;
    border:solid blue;
    padding: 20px;
    margin: 20px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction:column ;
}


header
{
    border:color orange;
}
footer{
    border:color orange;
}

.contHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.contHeader h3{
    margin-left: 10px;
}


.contFooter{
    width: 100%;
    border:solid red;
    height: 100px;
    display: flex;
    flex-direction: row;
}


.cont1,.cont2,.cont3{
    width: 33.3%;
    border:solid green;
}